*.iml
.gradle/
.kotlin/
.idea/
**/build/
local.properties
*.log
*.hprof
.cxx/
.externalNativeBuild/
captures/

*.apk
*.aab
!apk/
!apk/*.apk

*.jks
*.keystore
keystore.properties
signing.properties

*.o
*.a
*.so.debug
*.exe
*.dll
*.dylib
*.test
*.out

.DS_Store
Thumbs.db
